body {
  margin: 0;
  /* padding: 10px; */
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

.inputContainer {
  /* background-color: aqua; */
  /* width: 100%; */
}
.container {
  width: 100%;
  min-width: 400px;
  /* margin: 0; */
  background-color: antiquewhite;
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

input {
  /* margin: 7px; */
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  box-sizing: border-box;
  /* border-color: rgb(155, 152, 152); */
  border-radius: 4px;
  border: none;
}

li {
  /* background-color: rgb(0, 0, 0); */
  list-style-type: none;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

li a {
  text-decoration: none;
}

button:hover {
  background-color: rgb(33, 33, 202);
}

button {
  margin: 7px;
  padding: 7px;
  width: 50%;
  /* height: 10%; */
  background-color: blue;
  border: none;
  border-radius: 4px;
  color: aliceblue;
  font-size: 12px;
  box-sizing: border-box;
  font-weight: bold;
}

.save-btn {
  display: flex;
  justify-content: center;
  /* background-color: black; */
}
#dlt-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.save-tab {
  background-color: aliceblue;
  color: blue;
  border: 1px solid;
}

.save-tab:hover {
  color: aliceblue;
}
